azure-functions==1.21.3
azure-functions-devops-build==0.0.22
certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
isodate==0.7.2
Jinja2==3.1.5
MarkupSafe==3.0.2
msrest==0.6.21
oauthlib==3.2.2
requests==2.32.3
requests-oauthlib==2.0.0
urllib3==2.3.0
vsts==0.1.25
